.shopping_message {
    width: 150px;
    height: 45px;
    background-color:crimson;
    position: absolute;
    right: 85px;
    top: 57px;
    line-height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-radius:4px;
    color: aliceblue;
    font-size: 17px;
}
.shopping_message1 {
    width: 25px;    
    height: 23px;
    background-color: red;
    position: absolute;
    right: 75px;
    top: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-radius:20px 20px 20px 0px;
    color:aliceblue;
}
body {
     background-color: aliceblue;
}

.s_main {
     width: 1200px;
     height: 800px;
 }
.s_main_left {
     width: 400px;
     height: 600px;
     float: left;
}

.s_main_center {
     width: 600px;
     height: 800px;
     float: left;
}
.s_main_right {
     width: 200px;
     height: 500px;
     float: right;
}
#div_out{
     background: url(首页.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
     height: 300px;
 }
 #nav_container{
     background-color: crimson;
     min-height: 35px;
     position: relative;
     display: block;
     width: 100%;
     
 }
 nav {
     min-height: 35px;
     width:1000px;
     margin:0 auto;
     padding: 0%;
     position: absolute;
     left: 10%;
 }
 nav ul{
     background-color: #fff; 
     padding: 0;
     margin: 0;
 }
 nav>ul>li{
     float:left;
 }
 nav ul li{
     list-style-type:none;
 }
 nav ul li:hover{
 background-color:#ccc ;
 }
 nav ul li a{
     text-decoration: none;
     display:block;
     width:130px;
     line-height: 35px;
     text-align:center;
     color: white;
     font-family: '微软雅黑';
 }
 nav ul li:hover a{
     color: black;
 }
 nav ul li ul li:hover{
     background-color:blueviolet;
 }
 nav ul li ul li a{
     color: black;
 }
 nav ul li ul li:hover a{
     color: red;
 }
 nav ul li ul{
     display: none;
 }
 nav ul li:hover ul{
     display:block;
     width: 130px;
 }
 #input1{
     float: right;
     min-height: 35px;
     border-radius: 18px;
     border: 1px solid #ccc;
     position: absolute;
     right: 50px;
 }
 #input2{
     float: right;
     min-height: 35px;
     width: 50px;
}

.s_main_left_top {
      width: 380px;
      height: 450px;
      position: relative;
      z-index: 100;
      top: 20px;
      left: 10px;
      background-size: 86% 97%;
}

.s_main_left_center {
     position: relative;
     top: 50px;
     left: 5px;
     height: 70px;
     width: 390px;
}
.s_main_left_bottom{
     position: relative;
     top: 77px;
     left: 5px;
     height: 40px;
     width: 390px;
}
.s_main_left_bottom p
{
   display: inline;
   line-height: 40px;
   margin-left: 10px;
}
.s_main_left_bottom p:last-child {
     float: right;
     margin-right: 20px;
}
.s_main_left_bottom p:first-child::before{
  content: '♥';
   color: red;
}
.s_main_center_color {
   height: 45px;
}
.s_main_center_color_left {
      width:80px;
      height: 45px;
      float: left;
      line-height: 45px;
      text-align: center;
}
.s_main_center_color_right {
     width: 510px;
     height: 45px;
     float: right;
    
}

.s_main_center_color_right li {
     display: inline-block;
      width: 90px;
      height: 39px;
      border: 1px solid gainsboro;
      margin-right: 5px;
      margin-top: 2px;
      text-align: center;
      line-height: 39px;
}

.s_main_center_version {
    height: 45px;
 }
 .s_main_center_version_left {
       width:80px;
       height: 45px;
       float: left;
       line-height: 45px;
       text-align: center;
 }
 .s_main_center_version_right {
      width: 510px;
      height: 45px;
      float: right;
 }
 .s_main_center_version_right {
      display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .s_main_center_version_right li {
      display: inline-block;
       width: 90px;
       height: 39px;
       border: 1px solid  gainsboro;
       margin-top: 4px;
       margin-right: 7px;
       text-align: center;
       line-height: 39px;
       
 }
 .s_main_center_color_right li:hover
 {
    border-color: crimson;
 }
 .s_main_center_version_right li:hover{
    border-color: crimson;
} 

 .fengexian {
     height: 0.5px;
     background-color: #ccc;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .s_main_center_shopping_right button {
     width: 140px;
     height: 55px;
     background-color:crimson;
     border: 0px;
     font-size: 21px;
     font-weight: 1000;
     color: #fff;
     margin-left: 120px;
    }
    #qweqwe {
         color: red;
         border: 1px solid red;
         margin-right: 10px;
         margin-left: 0px;

    }
    .s_main_center_address {
        display: inline;
    }
    .jishu {
         width: 100px;
         height: 100px;
        float: left;
        position: relative;
         top: -20px;
         left: 60px;
    }
    .jishu input {
         width: 50px;
         height: 50px;
         text-align: center;
    }
    .jishushang {
         background-color: #fff;
         height: 24px;
         width: 13px;
         position: relative;
         top: 24px;
         left: 50px;
         border: 1px solid gray;
         text-align: center;
         line-height: 22px;
         font-weight: 800;
    }
    .jishuxia {
        text-align: center;
        font-size: large;
        line-height: 22px;
        background-color: #fff;
        height: 26px;
        width: 13px;
        position: relative;
        top: -26px;
        left: 50px;
        border: 1px solid gray;
        border-top: 0px;
   }
   .shuliang{
    font-size: larger;
    position: relative;
    float: left;
   }
   .rolling{
    width: 500px;
    height: 330px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}
.rolling .m_unit{
    width: 5000px;  /*这是运动的单位，这个宽度随便取，大一点，最少的大于rolling小于运动盒子的内容*/
    position: absolute;
    top: 0;
    left: 0;
}
.rolling ul{
    list-style: none;
}
.rolling ul li{
    float: left;
    margin-right: 10px;
    border: 1px solid gainsboro;
    height: 200px;
}
.m_unit img {
    height: 200px;
}

.alin {
position: relative;
top: -163px;
left: -56px;
transform: rotate(90deg);
}
.alin ul li 
{
    margin-left: 14px;
    margin-top: 20px;
    transform: rotate(-90deg);
}
.s_main_left_center ul li img{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 21px;
}
.mask {
     width: 260px;
     height: 260px;
     background-color: #fede4f;
     position: absolute;
     opacity: .5;
     cursor: move;
}
.big {
     width: 540px;
     height: 680px;
     position: absolute;
     left: 330px;
     top: 0px;
     z-index: 999;
     overflow: hidden;
}
.big img {
    width: 660px;
    height: 780px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#product_img {
    width: 320px;
    height: 450px;
    border: 1px solid gainsboro;
}